{{#with map}}
<h2>{{_id}}</h2>
<input id="savedMapId" value={{_id}} hidden>
<form id = "start-form">
<button type="submit" id="start">Start</button>
</form>
<span id='difficulty' hidden>{{difficulty}}</span>
<div id = "map" class = "map">
    <form method = "POST" id="static-form" hidden>
        <div id = "table" class= "table">
        {{#each mapData}}
            <div class="row">
            {{#each this}}
                {{#if this}}
                    <span class="cell" id = {{@../index}}:{{@index}}>{{this}}</span>
                {{/if}}
                {{#unless this}}
                    <input id = {{@../index}}:{{@index}} class = "input-cell cell" type = "number" min = "1" max = "9">
                {{/unless}}
            {{/each}}
            </div>
        {{/each}}
        </div>
        <button type="submit" id="check">Submit</button>
        </form>
</div>

<div id="game-functions" hidden>
    <form method="POST" id="defeat">
        <button type="submit">Give Up :(</button>
    </form >
    {{#if ../loggedIn}}
        <form method="POST" id="save">
            <button type="submit">Save</button>
        </form>
        <form method="POST" id="load" action="/user/load">
            <button type="submit">Load</button>
        </form>
    {{/if}}
</div>

<div id = "solution" class = "solution" hidden>
    <h3>Solution</h3>
    <div id = "table" class= "table">
        {{#each solution}}
            <div class="row">
            {{#each this}}
                    <span class="cell" id = s{{@../index}}:{{@index}}>{{this}}</span>
            {{/each}}
            </div>
        {{/each}}
    </div>
</div>

<table id="highscore-table">
    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Score</th>
    </tr>
    {{#each scoreData}}
    <tr>
        <td>{{rank}}</td>
        <td>{{name}}</td>
        <td>{{score}}</td>
    </tr>
    {{/each}}
</table>
{{/with}}
<script src='../public/js/sudoku.js'></script>