{{#with map}}
<h2>{{_id}}</h2>

<div id = "map" class = "map">
    <div id = "table" class= "table">
        <form method = "POST" id="static-form">
        {{#each mapData}}
            <div class="row">
            {{#each this}}
                {{#if this}}
                    <span class="cell" id = {{@../index}}:{{@index}}>{{this}}</span>
                {{/if}}
                {{#unless this}}
                    <input id = {{@../index}}:{{@index}} class = "input-cell cell" type = "number" min = "1" max = "9">
                {{/unless}}
            {{/each}}
            </div>
        {{/each}}
        <button type="submit">Submit</button>
        </form>
    </div>
</div>

<div id = "solution" class = "solution" hidden>
    <div id = "table" class= "table">
        {{#each solution}}
            <div class="row">
            {{#each this}}
                    <span class="cell" id = s{{@../index}}:{{@index}}>{{this}}</span>
            {{/each}}
            </div>
        {{/each}}
    </div>
</div>
{{/with}}
<script src='../public/js/sudoku.js'></script>